[user]
    name = Jonas S. Büchi
    email = jonas.buechi@4teamwork.ch

[core]
        excludesFile = ~/.gitignore
    autocrlf = input
    whitespace = tabwidth=4,tab-in-indent,cr-at-eol,trailing-space
    pager = less -F -X

[color]
    ui = true

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[apply]
    whitespace = nowarn

[format]
    pretty = %C(blue)%h%Creset %s %C(green)%d%Creset [%C(red)%an%Creset, %C(cyan)%cr%Creset] %C(bold reverse)%N%Creset

[github]
    user = kiidle

[merge]
    tool = opendiff
    ff = false

[push]
    default = current

[branch]
    autosetuprebase = always

[rerere]
    enabled = 0

[advice]
    statusHints = false
    detachedHead = false

[pull]
    rebase = true